{% extends 'base.html' %}

{% block body %}

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <form action="{% url 'tasks:add' %}" method="post">
        <div class="modal-content">
            <h4>Add task</h4>
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s6">
                    <input id="title" name="title" type="text" class="validate" autocomplete="off" required />
                    <label for="title">Title</label>
                </div>
                <div class="input-field col s6">
                    <input type="text" class="datepicker" id="deadline" name="deadline" />
                    <label for="deadline">Deadline</label>
                </div>
                <div class="input-field col s12">
                    <textarea id="description" name="description" class="materialize-textarea"
                        data-length="120"></textarea>
                    <label for="description">Description</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="waves-effect waves-light btn">Add</button>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </form>
</div>


<div class="main">
    <div class="container">
        <div class="row">
            <!-- Modal Trigger -->
            <a class="btn-floating btn-large waves-effect waves-light red modal-trigger" href="#modal1">
                <i class="material-icons">add</i>
            </a>

            <h2>Task list:</h2>
            <ul>
                {% for task in tasks %}
                <li>
                    <div class="col s6 m4">
                        <div class="card blue-grey darken-2">
                            <div class="card-content white-text">
                                <span class="card-title">
                                    <i class="material-icons">local_offer</i>
                                    {{ task.title }}
                                </span>
                                <div>
                                    <i class="material-icons">date_range</i>
                                    {{ task.deadline }}
                                    <p class="grey lighten-1">{{ task.description }}</p>
                                </div>
                                <div class="card-action">
                                    <a href="{% url 'tasks:task' task.id %}">Detail</a>
                                </div>
                            </div>
                        </div>
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>
</div>
{% endblock %}